

*{
        /* background-color: blanchedalmond; */
        margin: 0;
        padding: 0;
    
}


.imagen-header{
    margin: 0px ;
    padding: 0px;
    max-width: 100%;
    height: 500px;
    background-image: url(../img/fondo1.jpg);
    background-size: 100% 100%;
    animation-name: carrusel;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    align-items: center;
    align-content: center;
    
   }
@keyframes carrusel{
    0% {background-image: url(../img/fondo1.jpg);}
    25%{background-image: url(../img/fondo2.jpg);}
    50%{background-image: url(../img/fondo3.jpg);}
    75%{background-image: url(../img/fondo4.jpg);}

}



.texto-header{
    /* margin: 20px 0px;*/
    
    font-family: papyrus, 'Times New Roman', Times, serif; /*Utilizo una fuente LOCAL*/
    font-size: normal;
    font-style: italic;   
    padding: 50px 0px; 
    width: 100%;
    align-items: center;
    background-color: rgba(0,0,250,0.3);
    text-align: center;
    color: white;
    /* position: fixed; */
}

/*le doy formato a la barra de navegacion para que sea visible*/
a:link {color: white;} /*Color del link*/
a:hover {background-color: yellow;} /*Cuando paso mouse por arriba*/
a:visited {color: rgb(182, 182, 196);} /*Una vez visitado*/
a:active {background-color: green; color: white;} /*Cuando doy click*/




ul {
    list-style-type: none;
  }

.icon{
    
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 25px;

}

/* ICONOS DESCARGADOS DESDE FLATICON */

.wifi{
    background-image: url(../img/wifi.png);

}

.encargado{
    background-image: url(../img/encargarse-de.png);
}

.estacionamiento{
    background-image: url(../img/coche.png);
}

.parrilla{
    background-image: url(../img/parrilla-de-ladrillo.png);
}
 .pileta{
    background-image: url(../img/piscina.png);
 }

 .games{
    background-image: url(../img/3d.png);
 }





.contenedor{
    margin: 0px 0px;
    padding: 0px;
    background-color: blanchedalmond;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);


    grid-template-areas: "presentacion presentacion presentacion"
                         "quienessomos comodidades imagenes"
                         "iframe iframe iframe"
                         "reservas reservas reservas";



}


@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: "presentacion presentacion presentacion"
                             "quienessomos quienessomos comodidades"
                             "imagenes imagenes imagenes"
                             "iframe iframe iframe"
                             "reservas reservas reservas";
    }
}

@media screen and (max-width: 450px){
    .contenedor{
        grid-template-areas: "presentacion presentacion presentacion"
                             "quienessomos quienessomos quienessomos"
                             "comodidades comodidades comodidades"
                             "imagenes imagenes imagenes"
                             "iframe iframe iframe"
                             "reservas reservas reservas";
    }
}

.presentacion{
    margin: 10px;
    padding: 50px;
    text-align: center;
    grid-area: presentacion;
}

.quienessomos{
    margin: 10px;
    padding: 50px;
    text-align: center;
    grid-area: quienessomos;

}

.comodidades{
    margin: 10px;
    padding: 50px;
    text-align: left;
    grid-area: comodidades;
}

.imagenes{
      grid-area: imagenes;
}
.iframe{
    background-color: rgb(153, 100, 20);
    margin: 0px;
    padding:0px;
    text-align: center;
    align-content:;
    align-items:;
    grid-area: iframe;
}

.reservas{
     margin: 0px;
    padding:50px;
    text-align: left;
    align-content:center;
    align-items:center;
    grid-area: reservas;
}



footer{
    width: 100%;
    height: 30vh;
    margin: 0px;
    padding:0px;
    background-color: rgba(5, 5, 173,0.75);
display: flex;
flex-wrap: wrap;

}

.pie{
    padding: 100px;
     margin: 50px;
    /*border: black solid;
background-color: aquamarine; */
    font-family: papyrus;
}



.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label{
    display: block;
    font-weight: 700;
    cursor: pointer;
}

.formulario__grupo-input{
   position: relative; 
}

.formulario__grupo-input{
    width: 100%;
    border: 3px solid transparent;
    transition: .3s ease all;
}

.formulario__input:focus{
    border: 3px solid rgba(0,0, 163, 0.4);
    outline: none;
    box-shadow: 3px 0px 30px grey;
}

.formulario__boton{
    grid-column: span 2;
}

.formulario__mensaje{
background: red;
display: none;
}

.formulario__input-error{
display: none;

}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje-exito-activo{
display: block ;
}

.formulario__grupo-correcto .formulatio__validacion-estado{
    border: #1ed12d;
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
color: #bb2929;

}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}